.App {
  text-align: center;
}

body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #3d3d3d;
  color: white;
}
* {
  color: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #2c5864;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-date-picker {
  background-color: #555; /* Background color */
  color: white; /* Text color */
  border: 1px solid #777; /* Optional: border color */
  padding: 5px; /* Optional: padding */
}

.custom-date-picker::placeholder {
  color: white; /* Placeholder text color */
}

.device-details-container {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  color: white;
  max-width: 600px;
  margin: auto;
}

.device-details-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.device-detail {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #444;
}

.device-detail:last-child {
  border-bottom: none;
}

.device-detail-label {
  font-weight: bold;
}

.device-detail-value {
  text-align: right;
}

button {
  padding: 10px;
  background-color: #444;
  color: white;
  border: none;
}

button:disabled {
  background-color: #888;
  color: #ccc;
  cursor: not-allowed;
}

button:hover:enabled {
  background-color: #555;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Adjust this as necessary for your layout */
}

.loading-container .react-loading {
  width: 50px; /* Adjust the width and height to make it smaller */
  height: 50px;
}
/* Ensure the DatePicker container has a custom class */
.custom-date-picker {
  background-color: #555; /* Background color of the DatePicker */
  color: white; /* Text color */
}

.react-datepicker__year-select,
.react-datepicker__year-select > option,
.react-datepicker__month-select,
.react-datepicker__month-select > option {
  color: black;
  background-color: #c1c1ff;
}

.admin-page-button {
  padding: 50px;
}
.admin-page-button button {
  padding: 20px 50px;
  /* background-color: #444; */
  /* color: white; */
  /* border: none; */
}